@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

input[type="date"],
input[type="time"] {
  color-scheme: light;
}

.dark input[type="date"],
.dark input[type="time"] {
  color-scheme: dark;
}

.dark input[type="date"]::-webkit-calendar-picker-indicator,
.dark input[type="time"]::-webkit-calendar-picker-indicator {
  filter: none;
  opacity: 1;
  cursor: pointer;
}